defaults:
  - _self_
  - task: lift_lowdim

output_dir: ./output

pred_horizon: 1
obs_horizon: 1
action_horizon: 1

# Training parameters
num_epochs: 1000
max_steps: 5000
# add task.task_name to model_path
model_path: ./weights/${task.task_name}_mlp_last.pt

train:
  loss:
    _target_: torch.nn.MSELoss


env_runner: ${task.env_runner}

policy:
  _target_: imitation.policy.mlp_policy.MLPPolicy
  model:
    _target_: imitation.model.mlp.MLPNet
    input_dim: ${task.obs_dim}
    output_dim: ${task.action_dim}
    hidden_dims: [256, 256, 256, 256]
    activation:
      _target_: torch.nn.LeakyReLU
    output_activation: 
      _target_: torch.nn.Identity
  env: ${task.env_runner.env}
  dataset: ${task.dataset}
  # ckpt_path: ${model_path}


agent:
  _target_: imitation.agent.robomimic_lowdim_agent.RobomimicLowdimAgent